# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env
laravel/storage/logs/*.log
laravel/storage/framework/cache/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/bootstrap/cache/*.php

# FastAPI later
fastapi/venv/
fastapi/__pycache__/
fastapi/.env

# Root env
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
